* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #273036;
    color: #ddd8d8;
    font-family: "Source Sans Pro", sans-serif;
    max-width: none;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./img/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    left: 0;
    top: 0;
}

.presentation-container {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}

.presentation .text-content {
    position: relative;
    margin: auto 0;
}

.presentation .img-content {
    margin-left: 10em;
    position: relative;
}

.presentation .img-content .welcome-img {
    width: 900px;
}

.presentation .blob-img {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
    animation: blob-animation 10s 7s infinite alternate ease-in-out;
}

.presentation .name {
    position: relative;
    height: max-content;
    width: 0;
    margin: 0 auto;
    animation: writing-text 4s .7s steps(22) forwards;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Source Code Pro", Arial;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: #ffffff36 solid 2px;
}

.description-text {
    font-size: 1.5em;
    text-align: center;
    position: relative;
}

.presentation .description .welcome-msg {
    gap: .2px;
    display: flex;
    justify-content: center;
}

.presentation .description .description-text {
    overflow: hidden;
    opacity: 0;
    position: relative;
    margin:0 3.4px;
}

.presentation .down-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    opacity: 0;
    animation: appear 6s 5s forwards, arrow-pointing-down 6.5s 6s infinite;
    margin-top: .5em;
}

.presentation .down-arrows .fa-chevron-down::before {
    font-size: 2em;
    color: black;
}

.projects-container {
    display: flex;
    align-items: center;
    margin-top: 6em;
    flex-direction: column;
    height: 100vh;
}

.projects-container .projects-content {
    position: relative;
    max-width: 800px;
    height: 500px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
}

.projects-container .projects-year-container {
    width: 100%;
    max-height: 600px;
    height: 100%;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin-top: 2em;
}

.projects-year-container::-webkit-scrollbar {
    width: 10px;
}

.projects-year-container::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

.projects-year {
    position: relative;
    width: 100%;
    max-height: 600px;
    height: 100%;
    display: flex;
    margin-top: 3em;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.061);
    transition: all .2s;
    scroll-snap-align: center;
}

.projects-container .projects-year:hover {
    background: rgba(0, 0, 0, 0.144);
}

.projects-container .projects-info {
    margin: auto;
}

.projects-container .project-year {
    text-align: center;
}

.projects-container .projects {
    display: flex;
    height: 100%;
    transform: translate3d(0,0,0);
    transition: all .6s;
    animation: slider-autoplay 6.5s alternate forwards infinite;
}

.projects-test {
    animation: none !important;   
}

.projects-container .project {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 100%;
}

.projects-container .text-content {
    z-index: 1;
    color: black;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.projects-container .project-info {
    padding: 15px 25px;
}

.projects-container .text-content .project-title {
    font-size: 2.4em;
}

.projects-container .text-content .project-description {
    font-size: 1.5em;
    max-height: 300px;
    overflow: auto;
}

.projects-container .project-links {
    display: flex;
    padding: 15px 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projects-container .text-content .fa-github::before {
    font-size: 2em;
    color: black;
}

.projects-container .text-content .fa-external-link-square-alt::before {
    font-size: 2em;
    color: black;
}

.projects-container .project-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: blur(6px);
    top: 0;
    left: 0;
}

.projects-container .projects-test .project-background {
    background: #ffffff !important;
}

.projects-container .projects-paginations {
    position: absolute;
    top: 83%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2500;
}

.projects-container .projects-paginations label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #273036;
    padding: 5px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: #27303631;
    margin: 0 10px;
    text-align: center;
    transition: all .3s;
}

.projects-container .projects-paginations label:hover {
    transform: scale(1.5);
    background: #334f6249;
}

.projects-container .projects-paginations i {
    display: inline-block;
    max-width: none;
    opacity: 0;
    transition: all .3s;
}

.projects-container .projects-paginations label:hover i {
    opacity: 1;
}


.projects-container .fa-graduation-cap::before, .projects-container .fa-store::before, .projects-container .fa-music::before {
    color: #273036;
}

.projects-container .project-selector {
    z-index: 1500;
}

input[id="PROJECT21-00"]:checked ~ .projects {
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="PROJECT21-00"]:checked ~ .projects-paginations label[for="PROJECT21-00"] {
    background: #fff;
}

input[id="PROJECT21-01"]:checked ~ .projects {
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id="PROJECT21-01"]:checked ~ .projects-paginations label[for="PROJECT21-01"] {
    background: #fff;
}

input[id="PROJECT21-02"]:checked ~ .projects {
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
}

input[id="PROJECT21-02"]:checked ~ .projects-paginations label[for="PROJECT21-02"] {
    background: #fff;
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

.push-to-right {
    animation: push-to-right 4s 4s forwards;
}

.push-to-left {
    animation: push-to-left 4s 4s forwards;
}

.appear {
    animation: appear 6s 5s forwards;
}

@keyframes blob-animation {
    to {
        transform: rotate(360deg) scale(.8);
    }
}

@keyframes writing-text {
    0% {
        width: 0ch;
    }
    100% {
        width: 22ch;
    }
}

@keyframes push-to-right {
    0%{
        transform:translateX(-100%);
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    15%{
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        transform:translateX(0);
    }
}

@keyframes push-to-left {
    0%{
        transform:translateX(100%);
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    15%{
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        transform:translateX(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes arrow-pointing-down {
    0% {
        gap: 0;
    }
    30% {
        gap: 6px;
    }
    60% {
        gap: 0;
    }
    90% {
        gap: 6px;
    }
    100% {
        gap: 0;
    }
}

@keyframes slider-autoplay {
    33% {
        transform: translate3d(calc(-100% * 0),0,0);
    }
    66% {
        transform: translate3d(calc(-100% * 1),0,0);
    }
    100% {
        transform: translate3d(calc(-100% * 2),0,0);
    }
}

/*
.##.....##.########.########..####....###........#######..##.....##.########.########..####.########..######.
.###...###.##.......##.....##..##....##.##......##.....##.##.....##.##.......##.....##..##..##.......##....##
.####.####.##.......##.....##..##...##...##.....##.....##.##.....##.##.......##.....##..##..##.......##......
.##.###.##.######...##.....##..##..##.....##....##.....##.##.....##.######...########...##..######....######.
.##.....##.##.......##.....##..##..#########....##..##.##.##.....##.##.......##...##....##..##.............##
.##.....##.##.......##.....##..##..##.....##....##....##..##.....##.##.......##....##...##..##.......##....##
.##.....##.########.########..####.##.....##.....#####.##..#######..########.##.....##.####.########..######.
*/

@media screen and (max-width: 1440px){
    .presentation .text-content {
        margin-left: 2em;
    }

    .presentation .img-content {
        margin: 4em 0 0 4em;
    }

    .presentation .img-content .welcome-img {
        width: 800px;
    }
}

@media screen and (max-width: 1024px){

    .presentation {
        align-items: normal;
    }

    .presentation .img-content .welcome-img {
        width: 650px
    }
}

@media screen and (max-width: 768px){
    .wave {
        top: 5px
    }

    .projects-container {
        margin: 0;
    }
}

@media screen and (max-width: 540px){

    .presentation .text-content {
        margin: auto 0;
    }

    .presentation .img-content {
        margin: auto 0;
    }
    .presentation .img-content .welcome-img {
        width: 500px;
    }
}

@media screen and (max-width: 425px){

    .title {
        font-size: 1.8em;
    }

    .presentation .down-arrows .fa-chevron-down::before {
        font-size: 1.9em;
    }

    .presentation .img-content .welcome-img {
        width: 400px;
    }
}

@media screen and (max-width: 375px){
    .title {
        font-size: 1.5em;
    }

    .description-text {
        font-size: .8em;
    }

    .presentation .down-arrows .fa-chevron-down::before {
        font-size: 1.7em;
    }

    .presentation .img-content .welcome-img {
        width: 360px;
    }

}

@media screen and (max-width: 320px){

    .title {
        font-size: 1.3em;
    }

    .description-text {
        font-size: .7em;
    }

    .presentation .down-arrows .fa-chevron-down::before {
        font-size: 1.5em;
    }

    .presentation .img-content .welcome-img {
        width: 300px;
    }
}

@media screen and (max-width: 280px){

    .title {
        font-size: 1.2em;
    }

    .description-text {
        font-size: .7em;
    }

    .presentation .down-arrows .fa-chevron-down::before {
        font-size: 1.4em;
    }

    .presentation .img-content .welcome-img {
        width: 270px;
    }

    .presentation .text-content {
        margin: auto 0;
    }

    .presentation .img-content {
        margin: auto 0;
    }
}

@media screen and (min-width: 768px) and (min-height: 1024px){
    .title {
        font-size: 2.1em;
    }

    .description-text {
        font-size: 1em;
    }

    .presentation .down-arrows .fa-chevron-down::before {
        font-size: 2em;
    }

    .presentation .img-content {
        margin: 0 auto;
    }

    .presentation .img-content .welcome-img {
        width: 700px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px){
    .presentation {
        justify-content: center;
    }

    .presentation .img-content {
        margin: 0 0 35% 0;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px){
    .presentation {
        justify-content: center;
    }

    .presentation .img-content {
        margin: 0 0 7% 0;
    }
}
