* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: #2a2a2a;
    color: #ddd8d8;
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.presentation {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.presentation .name {
    font-family: "Source Code Pro", Arial;
    position: relative;
    border-bottom: #ffffff36 solid 2px;
    width: max-content;
    margin: 0 auto;
}

.presentation .name::after,
.presentation .name::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.presentation .name::after {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 87%;
    margin: auto 0;
    background: rgb(204, 204, 204);
    opacity: 100%;
    animation: writing-bar-opacity .6s alternate infinite, writing-bar-move 4s .7s steps(21) forwards;
}

.presentation .name::before {
    height: 110%;
    content: '';
    background: #2a2a2a;
    animation: writing-text 4s .7s steps(21) forwards;
}

@keyframes writing-text {
    to {
        left: 100%;
    }
}

@keyframes writing-bar-opacity {
    to {
        opacity: 10%;
    }
}

@keyframes writing-bar-move {
    to {
        left: 100%;
    }
}

.presentation .description {
    font-size: 1.5em;
    text-align: center;
    position: relative;
}

.presentation .description .welcome-msg {
    gap: .2px;
    display: flex;
    justify-content: center;
}

.presentation .description p{
    opacity: 0;
    position: relative;
    margin:0 3.4px;
}

.presentation .description .welcome-msg p:first-child{
    right: 100%;
    animation: push-to-right 4s 4s forwards;
}

.presentation .description .welcome-msg p:last-child{
    left: 100%;
    animation: push-to-left 4s 4s forwards;
}

.presentation .description .explication p {
    animation: appear 6s 5s forwards;
}

@keyframes push-to-right {
    0%{
        right: 100%;
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    15%{
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        right: 0%;
    }
}

@keyframes push-to-left {
    0%{
        left: 100%;
        opacity: 0;
    }
    5%{
        opacity: 0;
    }
    15%{
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        left: 0%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.presentation .arrow-down-content .fa-arrow-down::before {
    font-size: 5em;
    color: #b0b3b6;
}

.presentation .arrow-down-content {
    margin: 2em auto;
    opacity: 0;
    animation: appear 6s 5s forwards;
}
